#sectionInput .lessons {
  display: none;
}

#sectionInput input[type="date"].spec {
  display: none;
}

button.removeLessonDate {
  display: none;
}

#sectionInput[type="school"][lumpsum="false"] button.removeLessonDate {
  display: inline;
}

#sectionInput[type="school"][lumpsum="false"] input[type="date"].spec{
  display: inline;
}

#sectionInput[type="school"] .lessons {
  display: block;
}

#sectionInput[type="school"][lumpsum="true"] button.createLessonDate {
    display: none;
}

#sectionInput[type="school"][specified="true"] button.createLessonDate {
  display: inline;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section, .lessonDateTemplate, .serviceTemplate {
  display: none;
}

section.active {
  display: block;
}

.hours {
  border: lightgray 1px solid;
  padding: 2px;
  background-color: #ded;
}

.lessonDate {
  margin-bottom: 5px;
  padding: 3px;
  background-color: #efe;
  border: 1px solid #ded;
  font-size: 0.9em;
}

.service {
  margin-bottom: 5px;
  padding: 3px;
  background-color: #fee;
  border: 1px solid #edd;
  font-size: 0.9em;  
}
.service input[type="text"]{
  width: 400px;
}

.lessonDate>p {
  margin:3px 0 0 0;
}

.lessonDate .int {
  width: 40px;
}

.float {
  width: 50px;
}

@media print {
  .buttons, h1, h2 {
    display: none;
  }
  hr {
    display: block;
    border: 1px solid black; /* or any desired style */
}
}

.totals {
  display: grid;
  /* background-color: yellow; */
  width: 1000px;
  grid-template-columns: auto auto auto auto auto;
}

.totals .hdr {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

#sectionInvoice {
  width: 1000px;
  margin: auto;
}

.invoiceHeader {
  display: grid;
  grid-template-columns: auto auto;
}

.invoiceHeaderRight {
  margin-bottom: 20px;
}

.invoiceHeaderRight, .invoiceNr {
  text-align: right;
}

.displayDate {
  font-weight: bold;
}

.invoiceFooter {
  position:fixed;
  margin: auto;
  width: 1000px;
  bottom: 10px;
  text-align: center;
  font-size: 0.8em
}

.totalsContentTemplate {
  display: none;
}

.totals .flt {
    text-align: right;
}

.totals .ftr {
  padding-top: 10px;
  border-top: 1px solid black;
  text-align: right;
}

.totals .bdy {
  padding-top: 5px;
  padding-bottom: 5px;
}


.service * {
  vertical-align: top;
}

.lessons input, .lessons input+label, .lessons input+label+label {
  display: none;
}

body[lesson-unit="minutes"] .lessons input.minutes, body[lesson-unit="minutes"] .lessons input.minutes+label,
body[lesson-unit="minutes"] .lessons input.hours, body[lesson-unit="minutes"] .lessons input.hours+label
{
  display: inline;
}

body[lesson-unit="hours"] .lessons input.hours, body[lesson-unit="hours"] .lessons input.hours+label{
  display: inline;
}

body[lesson-unit="lessons"] .lessons input.hours, body[lesson-unit="lessons"] .lessons input.hours+label+label{
  display: inline;
}

#sectionInvoice .totals{
  margin-top: 20px;
}